.interview {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    width: 500px;
}

.interview__timeBox {
    display: flex;
    flex-direction: column;
}

.interview span {
    display: inline-block;
}